body {
    display: grid;
    margin: 0;
}

.sidebar ul li:hover{
    background-color: #356169;
}

li svg, li label {
    cursor: pointer;
    margin: 1rem;
}

h1{
    font-size: x-large;
}

a {color:transparent; text-decoration: none;}

.text-color-light {
    color: #f2f9f9;
}

.text-color-dark {
    color: #1a2c32;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #3b757f;
    border-radius: 1rem;
    margin-top: .2rem;
}

#modalSelectNewOptionBody ul {
    list-style: none;
    padding: 0;
}

#modalSelectNewOptionBody ul li:hover{
    cursor: pointer;
    background-color: #d4d4d4;
}

.button_float {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: #438e96;
    /* background-color: transparent; */
    /* border-color: #438e96; */
    border-radius: 50%;
    border: none;
    padding: 0;
}

.button_float svg {margin: auto;}

#modalSelectNewOptionHeader{background-color: #438e96 !important;}

@media only screen and (min-width: 900px) {
    body {
        grid-template-columns: minmax(250px, 250px) 5fr;
        grid-template-rows: 50px 1fr;
        justify-items: stretch;
        gap: .2rem;
    }
    header {
        text-align: center;
        grid-column: 2;
        grid-row: 1;
        background-color: #3b757f;
    }
    main {
        grid-column: 2;
        grid-row: 2 / 3;
        background-color: #ddeff0;
        height: 1000px; /* TEST */
        overflow: scroll; /* TEST */
    }
    .sidebar {
        grid-column: 1;
        grid-row: 1 / 3;
        background-color: #3b757f;
        /* position: fixed; */
        height: 100%;
    }
    .sidebar ul {
        top: 0;
        position: sticky;
        width: 100%;
    }
    .sidebar ul li{
        display: flex;
    }

    .button_float {
        right: 1rem;
        bottom: 1rem;
    }
    
}

@media only screen and (max-width: 900px) {
    body {
        grid-template-columns:
            repeat(1, 1fr);
        grid-template-rows: 50px 5fr 60px;
        gap: .2rem;
    }
    header {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        background-color: #3b757f;
    }
    main {
        grid-column: 1;
        grid-row: 2 / 3;
        background-color: #ddeff0;
        height: 1000px; /* TEST */
        overflow: scroll; /* TEST */
    }
    .sidebar {
        grid-column: 1;
        grid-row: 3 / 4;
        background-color: #3b757f;
        position: fixed; /* TEST */
        bottom: 0; /* TEST */
        width: 100%; /* TEST */
    }
    .sidebar li label {
        display: none;
    }
    .sidebar ul{
        display:  grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        justify-items: center;
    }

    .button_float {
        right: 1rem;
        bottom: 5rem;
    }

}

.button_float:hover {
    background-color: #3b757f;
}

.button_float:focus {
    background-color: #356169;
}