{% extends "base.twig" %}
{% block head %}
    
{% endblock %}
{% block content %}
    <div class="container">
        <h1>CONTROL DE GASTOS DEL HOGAR <br>
        TEST PAGE</h1>
        <img src="{{ path_for('Home') }}img/image2.png" />
        <a href="{{ path_for('Home') }}" title="IR A PAGINA PRINCIPAL"> HOME </a>

    </div>
{% endblock %}